<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="css/styles.css" rel="stylesheet">
    <title>signup</title>
</head>

<body>
 
    <div id="login-box">
        <div class="left">

          <h1>Register</h1>
          
          <form  action="/" class="form-signup" method="POST">
          <input type="text" name="fName" placeholder="First Name" />
          <input type="text" name="lName" placeholder="Last Name" />
          <input type="text" name="email" placeholder="E-mail" />
          <input type="text" name="number" placeholder="Contact Number" />
          <input type="password" name="password" placeholder="Password" />
          <input type="password" name="password2" placeholder="Conform password" />
          <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
          <input type="submit" name="signup_submit" value="Sign me up" />
        </div>
      </form>

        <div class="right">
         
            <h1>Login</h1>
          <input type="text" name="username" placeholder="Username/E-mail" />
          <input type="password" name="password" placeholder="Password" />
          <input type="checkbox" id="login" name="login" value="login">
             <label> Remember Me</label>
          <input type="submit" name="signup_submit" value="Login" />
        </div>
        
      </div> 
      
     

</body>
</html>

